@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.8em;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10em;
}

.custom-scroll {
    overflow-y: overlay;
}

.separator {
    width: 100%;
    border-top: lightgray 3px;
    border-style: dashed;
}
