.message {
    display: flex;
    white-space: pre-wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    word-wrap: break-word;
    overflow: hidden;
    z-index: 0;
}

.message > div:nth-child(2) {
    z-index: 2;
    max-width: 60%;
    background-color: lightgray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1.5em;
    margin: 0.2em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-radius: 1.5em;
    border-top-left-radius: 0.2em;
    box-shadow: -0.2em 0.2em 0.2em rgba(0,0,0,0.2);
}

.message > div:nth-child(3) {
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #3c3e3c;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.message:hover > div:nth-child(3) {
    opacity: 1;
    transform: translateX(0);
}

.message > div:nth-child(3) > button {
    margin-right: 1em;
}

.message > div:nth-child(1) {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background-color: lightgrey;
    margin: 0.4em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: dimgray;
}

.message > div:nth-child(2) > div > div:nth-child(1) {
    font-size: 0.9em;
    margin-bottom: 0.2em;
    font-weight: bold;
    text-align: start;
}

.message-self {
    flex-direction: row-reverse;
    justify-content: end;
}

.message-self > div:nth-child(2) {
    background-color: aliceblue;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.2);
    border-radius: 2em;
    border-top-right-radius: 0.5em;
    padding-left: 1.25em;
    padding-right: 1em;
}

.message-self > div:nth-child(2) > div > div:nth-child(1) {
    display: none;
}
